.t-tab nav{text-align:center}
.t-tab__bd{padding:10px}
.t-tab{box-shadow:0 0 1px rgba(0,0,0,.2);border-radius:3px}
.t-tab nav{width:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;-webkit-box-align:center;-moz-box-align:justify;-ms-flex-align:center;justify-content:space-between;line-height:2.5}
.t-tab nav a{position:relative;display:block;-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:rgba(0,0,0,.54)}
.t-tab nav a.current{background-color:#fff;color:#333}
.t-tab__bd{display:block;background-color:#fff;color:#333}
