.s00d-switch {
    position: relative;
    width: 35px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #ddd;
    transition: background-color 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    display: table-cell;
}
.s00d-switch.open {
    background-color: #39bbf9;
}
.s00d-switch.open .s00d-switch__btn {
    right: 2px;
    left: auto;
}
.s00d-switch__btn {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
}

.s00d-switch_label {
    display: table-cell;
    padding-right: 5px;
}
