.s00d-switch {
    position: relative;
    width: 50px;
    height: 24px;
    border-radius: 20px;
    background-color: #ddd;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}
.s00d-switch.open {
    background-color: #4c9cee;
}
.s00d-switch.open .s00d-switch__btn {
    right: 2px;
    left: auto;
}
.s00d-switch__btn {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
}
